:root{
  --color-tree: #245501;
}
.container{
  position:absolute;
  top:50%;
  left:50%;
  width:400px;
  height:400px;
  margin-top: -200px;
  margin-left:-200px;
  box-shadow: 5px 0px 50px rgba(0,0,0,0.3);
  background:transparent;

}
img{
  top:51.5px;
  left:50px;
  width:300px;
  z-index:1;
  position:absolute;
}
.part1, .part2, .part3, .tronco{
   position:relative;
    top:51.5px;
   height:0;
   animation: carrega 2s infinite;
}
.part1{
  width:0;
  left:135px;
  border-left: 65px solid transparent;
  border-right: 65px solid transparent;
  border-bottom: 80px solid var(--color-tree);
  animation-delay: 0.9s;
}
.part2{
   left:120px;
   width: 70px;
   border-bottom: 70px solid var(--color-tree);
   border-left: 45px solid transparent;
   border-right: 45px solid transparent;
   animation-delay: 0.7s;
}
.part3{
    left:99px;
    width: 93px;
    border-bottom: 80px solid var(--color-tree);
    border-left: 55px solid transparent;
    border-right: 52px solid transparent;
    animation-delay: 0.4s;
}
.tronco{
  left:188px;
  width:25px;
  height:63px;
  background: var(--color-tree);
  animation-delay: 0.10s;
}
@keyframes carrega{
 0%, 50%{
    opacity:1;
  }
  60%, 70%, 80%{
    opacity:0;
  }
  
}
