.container{
  position:absolute;
  top:50%;
 left:50%;
  /* width:400px; */
  height:400px;
  transform:translate(-50%, -50%);
    box-shadow: 1px 5px 50px rgb(0,0,0,0.3);
  overflow-x:hidden;
  background:#16324f;
}
h1{
  text-align:center;
  margin:130px 60px;
  color:#fff;
  border: double #fff;
  padding:15px;
  /* width:250px; */
}
svg{
  position:absolute;
  height:50px;
    height:150px;
}
.wave1 svg{
  bottom:20px;
  left:-300px;
  animation: left 5s  ease-in-out alternate infinite;
}
.wave2 svg{
  bottom:0px;
  left:-280px;
  animation: right 5s ease-in-out alternate infinite;
  animation-delay:2s;
}
.wave3 svg{
  bottom:0px;
  left:-200px;
  height:100px;
  animation: left 5s ease-in-out alternate infinite;
}
@keyframes left{
  0%{
    transform:translateX(0);
  }
  100%{
    transform:translateX(-200px);
  }
} 
@keyframes right{
  0%{
    transform:translateX(0);
  }
  100%{
    transform:translateX(-380px);
  }
}