.container{
  position: absolute;
  top:50%;
  left:50%;
  width:400px;
  height:400px;
  transform:translate(-50%, -50%);
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
    position:fixed;
}
nav{
  background-color: #723d46;
  height:70px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size:24px;
  
}

li {
  float: left;
}

li a, .btn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

li a:hover, .menu-down:hover .btn {
  background-color: #ffe1a8;
  color:#723d46;
}

li.menu-down {
  display: inline-block;
}

.menudown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.menudown-content a {
  color: #ffe1a8;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  background:#e26d5c;
}

.menudown-content a:hover {
  background: #ffe1a8;
}

.menu-down:hover .menudown-content {
  display: block;
}
.pagina{
/*   width:; */
  height:300px;
  padding:20px;
  background:#c9cba3;
  text-align:center;


}
p{
  font-size:20px;
}
.contato{
  opacity:0;
    height:290px;

}
h2{
padding:20px;
  color:#723d46;
  border: 2px solid #000;
}
#home:target .pagina.home{
  transform:translateY(0);
  
}
#contato:target .pagina.contato{
  transform:translateY(-330px);
  opacity:1;
  
}